* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  padding: 0 1rem;
}

:root {
  --text: #4b5563;
  --text-h: #17201f;

  --bg: #ffffff;
  --surface: #f5f8f7;
  --border: #dce5e2;

  --accent: rgb(1 78 75);
  --accent-hover: #002c29;

  --accent-bg: #e7f1ef;
  --accent-bg-hover: #d7e9e5;

  --focus: #00796b;

  --error: #b42318;

  --sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  font-family: var(--sans), monospace;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
